<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Form</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block title %}Forgot your password?{% endblock %}

    {% block content %}
    <h1>Forgot your password</h1>
    <p>enter ur email address we will send message to this</p>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-success" type="submit" value="Send me instructions">
    </form>
{% endblock %}
</body>
</html>